PORT=3000
JWT_SECRET=coloca_aqui_um_secret_seguro

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=u775111359_root
MYSQL_PASSWORD=coloca_aqui_a_password
MYSQL_DATABASE=u775111359_pap

CORS_ORIGIN=https://o-teu-dominio.com
