<!DOCTYPE html>
<html lang="pt-Pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Material de Estudo</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <!-- Menu -->
    <nav>
        <!-- botão hamburger (mobile) -->
        <button class="hamburger" aria-label="Abrir menu" aria-expanded="false" aria-controls="main-navigation">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>

        <ul id="main-navigation">
            <li><a href="index.html#home">Início</a></li>
            <li><a href="projetos.html">Projetos</a></li>
            <li><a href="index.html#sobre">Sobre</a></li>
            <li><a href="materialEstudo.html">Estudo</a></li>
            <li><a href="cadastro.html">Criar.Proj</a></li>
            <li><a href="admin.html">Admin</a></li>
            <li><a href="calendario.html">Calendário</a></li> 
            <li><a href="login.html">Login</a></li>
        </ul>
    </nav>
    <h1>Material de Estudo</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum provident quia illum quaerat molestiae, in, illo impedit est incidunt nemo quisquam tempore veritatis cum officia reiciendis, placeat fugiat explicabo suscipit?</p>
    <h2>Materiais em PDF</h2>
    <ul>
        <li><a href="imagens/material_estudo/curso_html.pdf" download>Curso de HTML</a></li>
        <li><a href="imagens/material_estudo/curso_css.pdf" download>Curso de CSS</a></li>
        <li><a href="imagens/material_estudo/curso_javascript.pdf" download>Curso de JavaScript</a></li>
        <li><a href="imagens/material_estudo/curso_python.pdf" download>Curso de Python</a></li>
    </ul>
    <h2>Materiais em Vídeo</h2>
    <h3>Linguagens de Programação</h3>
    <ul>
        <li><a href="#" target="_blank">Curso de Python - 12h - YouTube</a></li>
        <li><a href="#" target="_blank">Curso de C# - 6h - YouTube</a></li>
        <li><a href="#" target="_blank">Curso de C++ - 8h - YouTube</a></li>
        <li><a href="#" target="_blank">Curso de C - 6h - YouTube</a></li>
        <li><a href="#" target="_blank">Curso de Java - 12h - YouTube</a></li>
    </ul>
    <h3>Desenvolvimento Web</h3>
    <ul>
        <li><a href="#" target="_blank">Curso de HTML5 e CSS3 - 10h - YouTube</a></li>
        <li><a href="#" target="_blank">Curso de JavaScript - 15h - YouTube</a></li>
        <li><a href="#" target="_blank">Curso de React.js - 12h - YouTube</a></li>
        <li><a href="#" target="_blank">Curso de Node.js - 10h - YouTube</a></li>
        <li><a href="#" target="_blank">Curso de PHP - 8h - YouTube</a></li>
    </ul>
    <h3>Base de Dados</h3>
    <ul>
        <li><a href="#" target="_blank">Curso de SQL - 10h - YouTube</a></li>
        <li><a href="#" target="_blank">Curso de MySQL - 3h - YouTube</a></li>
        <li><a href="#" target="_blank">Curso de MongoDB - 1h - YouTube</a></li>
    </ul>
    <h2>Sites</h2>
    <ul>
        <li><a href="https://www.w3schools.com/" target="_blank">W3Schools</a></li>
        <li><a href="https://developer.mozilla.org/pt-BR/" target="_blank">Mozilla Developer Network</a></li>
        <li><a href="https://www.geeksforgeeks.org/" target="_blank">GeeksforGeeks</a></li>
        <li><a href="https://stackoverflow.com/" target="_blank">Stack Overflow</a></li>
    </ul>
    
    <script src="../js/auth.js"></script>
    <script src="../js/menu-auth.js"></script>
    <script src="../js/menu-toggle.js"></script>
</body>
</html>